  
option_settings:
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: COMPOSER_HOME
    value: /root

commands:
  - 01updateComposer:
      command: export COMPOSER_HOME=/root && /usr/bin/composer.phar self-update
  - 02installComposer:
      command: /usr/bin/composer.phar install --ignore-platform-reqs
